/* 
Kleuren
    #FFF    white
    #F7F0EB off white
    #F0F515 bright yellow 
    #EBCB0B 
    #E6A101 orange
    #C47A28
    #B94F18 orange/red
    #A2331B
    #80191E red
    #5A1D1F
    #272621 mat black
    #000    black

Fonts
    font-family: 'Barlow Condensed', sans-serif;
    font-family: 'Barlow Semi Condensed', sans-serif;
-
    300 light
    400 regular
    500 medium
    600 semi bold
    700 bold
*/

/* INHOUDSOPGAVE CSS
Basic styling
    */  html  /*
    */  body  /*
Fixed page styling
    */  #fixedContainer  /*
    */  #fixed-url  /*
    */  #fixed-resolution  /*
Starting page
    */  header  /*
    */  h1  /*
    */  nav  /*
        ul, li & a
    Line behind nav buttons
        */  #line01 #line02  /*
Bio + profielfoto
    */  .bio   /*
    */  #pf   /*
        Line behind profilepic
        */  #lineContainer3-4 #line03 #line04  /*
    

JavaScript -> script (index.js)

*/

/*__________________
Basic styling all */

*    { box-sizing: border-box; }
html { font-size: 16px; scroll-behavior: smooth;}
body { font-family: 'Barlow Condensed', sans-serif; transition: all 50ms cubic-bezier(0.6, -0.02, 0.37, 1.55); background-color: #F7F0EB; }

/*______________
Starting page */
header {
    display: flex;

    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}


/* main header */
h1 {
    margin: 9rem auto 0rem auto;
    width: fit-content;

    font-size: 11vw;
    font-weight: 500;
    
    padding: 0rem 3%;
    background-color: #F0F515;

    transition: all 200ms ease-in-out;
}

    h1:hover {
        padding: 0rem 3.7%;
    }

/* subheader */
h2 {
    margin: 2rem auto 7.5rem auto;

    font-size: 3vw;
    font-weight: 400;
    font-style: italic;
    padding: 0rem 3%;

    transition: all 200ms ease-in-out;
}

h1, h2 { user-select: none; }

nav { text-align: center; z-index: 2;}

nav ul li {
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0.85rem;
}

/* nav button */
nav ul li a {
    padding: 0 1rem; 
    offset-position: 25% 75% 50% 75%;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

/* nav button coloring */
#home       { color: #000;  background-color: #E6A101; }
#bio        { color: #fff;  background-color: #B94F18; }
#work       { color: #fff;  background-color: #80191E; }
#contact    { color: #fff;  background-color: #272621; }

    /* nav button hover */
    nav ul li a#home:hover,
    nav ul li a#bio:hover,
    nav ul li a#work:hover,
    nav ul li a#contact:hover {
        padding: 0 1.25rem; 
    }

/*________________________
Line behind nav buttons */
/* #line01 {
    margin: 0 auto;
    margin-top: -18.25rem;
    
    height: 20rem;
    width: 0.22rem;

    z-index: -1;
    background-color: #272621;
}

#line02 {
    margin: 0 auto;
    width: 1.25rem;
    height: 0.22rem;
    background-color: #272621;
} */

/*_________________________
Bio + profielfoto */

/* .bio {
    display: flex;
    justify-content: center;
} */

#line01 {
    display: flex;
    justify-content: center;
}

#line01 svg {
    margin-top: -18rem;
    margin-bottom: -20.5rem;
}

/*_______________________
Line behind profilepic */

/* #lineContainer3-4 {
    margin-top: 40rem;
    transform: rotate(180deg);
    z-index: -2;
}

#line03 {
    margin: 0 auto;
    margin-top: -12.5rem;
    
    height: 35rem;
    width: 0.22rem;

    background-color: #272621;
}

#line04 {
    margin: 0 auto;
    width: 1.25rem;
    height: 0.22rem;
    background-color: #272621;
} */

/*_______________________
Line behind profilepic */

.bio {
    display: flex;
    justify-content: center;
}

#pf {
    position: absolute;
    width: 300px;
    z-index: 2;
}

#age {
    position: relative;

    font-size: 1.5rem;
    font-weight: 500;
    
    padding: 0 1.25rem; 

    color: #fff;
    background-color: #B94F18;
}

.bio article {
    margin-top: 25rem;
    margin-bottom: 10rem;
    width: 70%
}

p#introduction {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2rem;
}

p#info {
    margin-top: 2rem;

    font-size: 1.25rem;
    line-height: 1.75rem;

    columns: 2;
    column-gap: 2rem;
}

section#featureSection {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3.title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0rem 1rem;
}

h3.title.bio {
    color: #fff;
    background-color: #80191E;
}

section#featureGrid {
    display: grid;
    gap: 1rem;

    width: 80%;
    height: 70vh;

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas: 
    "work01 work01 work01 work01 work02 work02"
    "work03 work03 work04 work04 work05 work05"
    ;
    margin: 0 auto;
}

.featuredArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 1rem 1.5rem;
}

.featuredArticle svg {
    align-self: flex-end;
}

article h4.subTitle.work {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0rem 1rem;

    color: #fff;
    background-color: #272621;
}

#article01 { grid-area: work01; }
#article02 { grid-area: work02; }
#article03 { grid-area: work03; }
#article04 { grid-area: work04; }
#article05 { grid-area: work05; }

#article01,
#article02,
#article03,
#article04,
#article05 {
    border: #272621 solid 4px;
    background-color: #F7F0EB;
}







footer {
    width: 100vw;
    height: 50rem;
}