/* Common breakpoints are
320px — 480px for mobile devices,
481px — 768px for iPads & tablets,
769px — 1024px for small screens like laptop,
1025px — 1200px for large screens like Desktops,
and 1201px and above for extra large screens like TV. */

@media only screen and (max-width: 1360px) {

}
/* breakpoint 
desktop wide --> desktop */
@media only screen and (max-width: 1280px) {
    h1 {
        margin: 9.5rem auto 0rem auto;
        font-size: 13vw;
    }

    h2 {
        font-size: 3.75vw;  
    }
}
/* breakpoint
desktop --> tablet (liggend) */
@media only screen and (max-width: 1024px) {
    h1 {
        margin: 10rem auto 0rem auto;
        font-size: 14vw;
    }
    
    h2 {
        font-size: 4vw;   
        margin: 1.75rem auto 7.5rem auto;
    }

    section#featureGrid {
        grid-template-rows: 7fr 5fr 5fr; 

        grid-template-areas: 
        "work01 work01 work01 work01 work01 work01"
        "work02 work02 work02 work03 work03 work03"
        "work04 work04 work04 work05 work05 work05"
        ;
    }
}
/* breakpoint 
tablet (liggend) --> tablet (staand) */
@media only screen and (max-width: 835px) {

}
/* breakpoint
tablet (staand) --> mobile */
@media only screen and (max-width: 768px) {
    h1 {
        margin: 10rem auto 0rem auto;
        font-size: 15vw;
    }
    
    h2 {
        margin: 1.25rem auto 7.5rem auto;
        font-size: 4.75vw;
    }
}

/* breakpoint
mobile --> small screen */
@media only screen and (max-width: 640px) {
    h1 {
        margin: 10rem auto 0rem auto;
        font-size: 15.5vw;
    }

    h2 {
        margin: 1.25rem auto 7.5rem auto;
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 460px) {
}

@media only screen and (max-width: 355px) {
}